body{
    background:mediumslateblue;
}
.pagename{
    font-family: Arial, Helvetica, sans-serif;    
}
.content{
    margin: auto;
    width: 50%;
    height: 510px;
    background:whitesmoke;
    border-style: solid;
    border-color: black;
}

.b1{
    width: 80%
}

.c1{
    width: 90%
}

.c2{
    width: 90%
}
span{
    color: coral;
}
